#main {
    margin: 0 auto; /* centralizar a página */
    text-align: center; /* centralizar o conteúdo horizontalmente */
    display: flex; /* habilitar layout flexbox */
    justify-content: center; /* centralizar o conteúdo verticalmente */
    align-items: center; /* centralizar o conteúdo horizontalmente */
}

#main div {
    margin: 10px; /* margem entre os elementos */
}

#menu {
    display: flex; /* habilitar layout flexbox */
    justify-content: center; /* centralizar o conteúdo horizontalmente */
    align-items: center; /* centralizar o conteúdo verticalmente */
    flex-direction: row; /* definir a direção dos elementos como horizontal */    
    
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #489eff4f;
}

#rodape {
    background-color: #0050ac;
    padding: 1px;
    color: #FFF;
    text-align: center;
    width: 100%;
    position:relative ;
    bottom: 0;
    border-radius: 15px;
    

}

