#main {
    margin: 0 auto; /* centralizar a página */
}

.row {
    display: flex; /* alinhar os elementos horizontalmente */
    justify-content: space-between; /* distribuir os elementos horizontalmente */
}



.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #489eff4f;
}