#main {
    margin: 0 auto; /* centralizar a página */
    text-align: center; /* centralizar o conteúdo horizontalmente */
    display: flex; /* habilitar layout flexbox */
    justify-content: center; /* centralizar o conteúdo verticalmente */
    align-items: center; /* centralizar o conteúdo horizontalmente */
}

#main .cursos {

}

#main h2 {

}
#main ul {
}

#main ul li {

}